version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_PASSWORD: pass123
      POSTGRES_DB: fintrackdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5435:5432"
volumes:
  pgdata:
